@import url(https://fonts.google.com/specimen/Fredoka+One);
body {
  background: url(https://media.giphy.com/media/26n6G8lRMOrYC6rFS/giphy.gif);
  color: rgb(250, 253, 247);
  font-family: 'Fredoka One', cursive;

  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 1px solid yellow;
  padding: 10px;
  height: 40vh;
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}

.btn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #1E62D0);
  background-image: -moz-linear-gradient(top, #000000, #1E62D0);
  background-image: -ms-linear-gradient(top, #000000, #1E62D0);
  background-image: -o-linear-gradient(top, #000000, #1E62D0);
  background-image: -webkit-gradient(to bottom, #000000, #1E62D0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 100;
  padding: 53px;
  -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
  -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
  box-shadow: 1px 1px 20px 0 #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}